body{
    background-image: url(backk.jpg);
    background-repeat: no-repeat;

}
.logo{
    color: white;
    text-align: center;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 100px;
}
.text_header{
    color: white;
    font-family: sans-serif;
    text-align: center;
    margin-top: 150px;
}
.text_header1{
    font-size: 35px;
    font-family: sans-serif;
    color: white;
    text-align: center;
    margin-top: -40px;
}
.text_header2{
    font-size: 29px;
    font-family: sans-serif;
    color: white;
    text-align: center;
    margin-top: -40px;
}
.end1{
    font-size: 15px;
    font-family: sans-serif;
    color: white;
    text-align: center;
    margin-top: 0px;
}
.link{
    color: white;
}
.block2{
    margin-top: 650px;
    margin-left: 300px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.block2_mini{
    font-family: sans-serif;
}
.h1{
    color: #868585;
    font-family: sans-serif;
}
.picture{
    margin-top: 125px;
}
@media (max-width: 1204px){
    .picture{
        margin-top: 125px;
        display: none;
    }
}
.block3{
    margin-top: 300px;
    margin-left: 300px;
}
.green{
    color: #868585;
    font-family: sans-serif;
}
.mini_mini_block{
    width: 500px;
    margin-top: 50px;
    font-family: sans-serif;
    display: flex;
    justify-content: space-between;
}
.mini_mini_block1{
    width: 500px;
    margin-top: 50px;
    font-family: sans-serif;
    display: flex;
    justify-content: space-between;
}